<div class="pricing-page w-100">
  <nav>
    <div class="logo">
      <a [routerLink]="['']"><img src="../../../assets/img/Campus_Hires_Logo.png" alt="CampusHires" /></a>
    </div>

    <div class="links">
      <a [routerLink]="['']" class="pricing">Home</a>
      <a [routerLink]="['pricing']" class="pricing">Pricing</a>
    </div>
  </nav>

  <div class="pricing-container">
    <h1>Select Pricing Plan</h1>
    <div class="switch-container">
      <label>Monthly</label>
      <label class="switch">
        <input (click)="togglePricing()" type="checkbox">
        <span class="slider round"></span>
      </label>
      <label>Annually</label>
    </div>
    <div *ngIf="!isAnnual" id="monthly" class="pricing-plan">
      <div class="pricing-cards">
        <span></span>
        <div class="price-container">
          <div class="price-card">
            <div class="price-title">STARTUP</div>
            <div class="price">₹2500/mo</div>
            <div class="pricing-frequency">billed monthly</div>
          </div>
          <button class="btn">Purchase</button>
        </div>
        <div class="price-container">
          <div class="price-card">
            <div class="price-title">GROWTH</div>
            <div class="price">₹5000/mo</div>
            <div class="pricing-frequency">billed monthly</div>
          </div>
          <button class="btn">Purchase</button>
        </div>
      </div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Unlimited Jobs</div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
      </div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Unlimited Candidates</div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
      </div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Unlimited Members</div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
      </div>
      <div class="vendor-title">Vendor sourcing(Optional)</div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Sourcing Fees</div>
        <div class="plan-availablity">8.33% of CTC</div>
        <div class="plan-availablity">7.5% of CTC</div>
      </div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Payment Duration</div>
        <div class="plan-availablity">30 days</div>
        <div class="plan-availablity">30 days</div>
      </div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Replacement</div>
        <div class="plan-availablity">60 days</div>
        <div class="plan-availablity">60 days</div>
      </div>

    </div>



    <div *ngIf="isAnnual" id="annual" class="pricing-plan">

      <div class="pricing-cards">
        <span></span>
        <div class="price-container">
          <div class="price-card">
            <div class="price-title">STARTUP</div>
            <div class="price">₹2000/mo</div>
            <div class="pricing-frequency">billed Annually</div>
          </div>
          <button class="btn">Purchase</button>
        </div>
        <div class="price-container">
          <div class="price-card">
            <div class="price-title">GROWTH</div>
            <div class="price">₹4000/mo</div>
            <div class="pricing-frequency">billed Annually</div>
          </div>
          <button class="btn">Purchase</button>
        </div>
      </div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Unlimited Jobs</div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
      </div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Unlimited Candidates</div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
      </div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Unlimited Members</div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
        <div class="plan-availablity"><div class="available"><fa-icon [icon]="faCheck"></fa-icon></div></div>
      </div>
      <div class="vendor-title">Vendor sourcing(Optional)</div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Sourcing Fees</div>
        <div class="plan-availablity">8.33% of CTC</div>
        <div class="plan-availablity">7.5% of CTC</div>
      </div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Payment Duration</div>
        <div class="plan-availablity">30 days</div>
        <div class="plan-availablity">30 days</div>
      </div>
      <hr>
      <div class="pricing-cards">
        <div class="plan-attribute">Replacement</div>
        <div class="plan-availablity">60 days</div>
        <div class="plan-availablity">60 days</div>
      </div>

    </div>
  </div>
</div>
