<section class="hero w-100">

    <nav>
      <div class="logo">
        <a [routerLink]="['']"><img src="../../../assets/img/Logo_white.svg" alt="Litehires" style="height: 55px;" /></a>
      </div>

      <div class="links">
          <a [routerLink]="['']" class="pricing">Home</a>
          <a [routerLink]="['pricing']" class="pricing">Pricing</a>
      </div>
    </nav>

    <div class="hero-container">
    <div class="hero-data d-flex align-items-center">
      <div class="section-text-info">
        <h1>World's first ATS which is connected to vendors.</h1>
        <p>Recruiter from your internal team or make it public to a pool of 350 hiring agencies with just a click</p>
        <div class="btn-wrapper">
          <a [routerLink]="['/register']" class="btn signup">
            <span class="btn-inner--text">Sign up</span>
          </a>
          <a [routerLink]="['/login']" class="btn login">
            <span class="btn-inner--text">Login</span>
          </a>
        </div>
      </div>
      <div class="section-image">
        <img src="../../../assets/img/1.svg" alt="connected vendors" srcset="">
      </div>
    </div>
  </div>


  <!-- seperator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>

<section>
<div class="hero-container">
  <div class="d-flex flex-row-reverse align-items-center">
    <div class="section-text-info">
      <h1>Trello board feature</h1>
      <p>Streamline your pipeline with Trello board.</p>
      <div class="btn-wrapper">
        <a [routerLink]="['/register']" class="btn signup">
          <span class="btn-inner--text">Sign up</span>
        </a>

      </div>
    </div>
    <div class="section-image">
      <img src="../../../assets/img/2.svg" alt="connected vendors" srcset="">
    </div>
  </div>
  </div>
</section>
<section>
<div class="hero-container">
  <div class="d-flex align-items-center">
    <div class="section-text-info">
      <h1>Announce iobs to external vendors whenever you are in hurry.</h1>
      <p>Make your job public to 250 vendors whenever you need help</p>
      <div class="btn-wrapper">
        <a [routerLink]="['/register']" class="btn signup">
          <span class="btn-inner--text">Sign up</span>
        </a>

      </div>
    </div>
    <div class="section-image">
      <img src="../../../assets/img/3.svg" alt="connected vendors" srcset="">
    </div>
  </div>
  </div>
</section>
<section>
  <div class="hero-container">
  <div class="d-flex flex-row-reverse align-items-center">
    <div class="section-text-info">
      <h1>Save time to do meaning full things with your team.</h1>
      <p>Save time on candidate management and sourcing so that you can do meaningful things with your team</p>
      <div class="btn-wrapper">
        <a [routerLink]="['/register']" class="btn signup">
          <span class="btn-inner--text">Sign up</span>
        </a>

      </div>
    </div>
    <div class="section-image">
      <img src="../../../assets/img/4.svg" alt="connected vendors" srcset="">
    </div>
  </div>
  </div>
</section>
<footer>
  <div class="d-flex flex-column align-items-center">
    <div class="section-text-info info-footer">
      <h1>Join the Revolution now!</h1>
      <div class="btn-wrapper">
        <a [routerLink]="['/register']" class="btn signup">
          <span class="btn-inner--text">Sign up</span>
        </a>

      </div>
    </div>
    <div class="section-image w-100">
      <img src="../../../assets/img/5.svg" alt="connected vendors" class="w-100">
    </div>
  </div>
</footer>
