<section class="conent">
  <div class="left-section">
    
    
    
    <div class="navigation">
      <a href="" class="simpe-text-logo-mini">
        <div class="logo">
          <img src="../../../assets/img/brand/litehires-light.svg" />
        </div>
      </a>
      <a href="" class="simple-text">LITEHIRES</a>
      
    </div>
    
    
    
    <div class="aboutus">
      <h1>About Us</h1>
      <p>
        Litehires is organising recruitment industry by aggregating small, mid
        and large hiring agencies online on one platform and developing AI based
        pre-screening tool for them, so employers will now be hiring from more
        hiring agencies with less hassle.
      </p>
    </div>
  </div>
</section>
