<div class="logo">
  <a href="" class="simple-text ">
    <div class="">
      <img src="../../../../assets/img/Campus_Hires_Logo.png" alt="CampusHires" height="60px" class="logo" />
    </div>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>

        <ul *ngIf="menuItem.subMenu.length > 0" class="nav nav-positions mt-2 pos-list">
          <li *ngFor="let subM of menuItem.subMenu" class="nav-item-position">
            <a  [routerLink]="['/'+dashUrl+'/pipeline',subM.id]"
              class="pos d-flex align-items-center gap-5 mt-0 pt-0 pb-2">
              <!-- <i class="tim-icons  {{ menuItem.icon }}"></i> -->
              <div class="dot_{{ subM.status }}"></div>
              <p>{{ subM.name }}&ensp;{{ (isVendor) ? '('+subM?.company+')' : "" }}</p>
            </a>
          </li>
        </ul>
      <!-- </div> -->

    </li>
  </ul>
</div>
