<div class="row">
  <div class="col-12">
    <div class="box card-box">

      <div class="icon-box bg-color-1">
        <div class="icon bg-icon-1">
          <i class="icon-chart-pie-36 tim-icons"></i>
        </div>

        <div class="row click-c">
          <h5 class="title-box">Calendar</h5>
          <p class="color-1 mb-0 pt-4">{{ (calendar?.length)? calendar?.length : "0"  }} Events</p>
        </div>
        <div class="notification-list card">
          <div class="top box-header">
            <h5>Events</h5>
          </div>
          <div class="pd-1r">
            <div class="divider"></div>
          </div>
          <div class="box-body">

            <ul class="list">
              <li *ngFor="let event of calendar?.slice(0,2)" class="d-flex no-seen">
                <!-- <div class="img-mess"><img class="mr-14" src="./images/avatar/avt-1.png" alt="avt"></div> -->
                <div class="info">
                  <a href="javascript:void(0);" class="font-w600 mb-0 color-primary">{{ event.name }}&emsp;{{
                    event.start | date:'medium' }}</a>
                  <p class="pb-0 mb-0 line-h14 mt-6">{{ event.des }}</p>
                </div>
              </li>
            </ul>

            <div class="btn-view">
              <a class="font-w600 h5" [routerLink]="['/'+dashUrl+'/calendar']">View All</a>
            </div>
          </div>
        </div>
      </div>


      <div class="icon-box bg-color-3">
        <div class="icon bg-icon-3">
          <i class="icon-chart-pie-36 tim-icons"></i>
        </div>

        <div class="row click-c">
          <h5 class="title-box">Positions</h5>
          <p class="color-3 mb-0 pt-4">{{ (positions?.length) ? positions?.length : "0" }} Positions</p>
        </div>
        <div class="notification-list card">
          <div class="top box-header">
            <h5>Positions</h5>
          </div>
          <div class="pd-1r">
            <div class="divider"></div>
          </div>
          <div class="box-body">

            <ul class="list">
              <li *ngFor="let pos of positions?.slice(0,2)" class="d-flex no-seen">
                <!-- <div class="img-mess"><img class="mr-14" src="./images/avatar/avt-1.png" alt="avt"></div> -->
                <div [routerLink]="['/'+dashUrl+'/pipeline',pos.id]" class="info">
                  <a href="javascript:void(0);" class="font-w600 mb-0 color-primary">{{ pos.name }}&emsp;{{ pos.created
                    | date:'medium' }}</a>
                  <p class="pb-0 mb-0 line-h14 mt-6">Candidates:&emsp;{{ pos?.candidates?.length }}</p>
                </div>
              </li>
            </ul>

            <div class="btn-view">
              <a class="font-w600 h5" [routerLink]="['/'+dashUrl+'/positions']">View All</a>
            </div>
          </div>
        </div>
      </div>

      <div class="icon-box bg-color-4">
        <a class="create d-flex" [routerLink]="['/'+dashUrl+'/positions/newPosition']" data-toggle="modal"
          data-target="#newPosition">
          <div class="icon bg-white">
            <fa-icon [icon]="faAdd"></fa-icon>

          </div>
          <div class="row d-flex align-items-center">
            <h5 class="color-white">Create New Positions</h5>
          </div>
        </a>
      </div>

      <div *ngIf="user?.isVendor && !user?.isVendorApplied" class="icon-box bg-icon-2">
      <!-- <div class="icon-box bg-icon-2"> -->
        <div class="icon">
          <fa-icon [icon]="faBolt" [size]="'4x'" class="bolt-icon"></fa-icon>
        </div>
        <div class="row click-c" (click)="enrol()" style="cursor: pointer;">
          <h5 class="title-box color-white">Boost your business</h5>
          <p class="color-white mb-0 pt-4 fw-light">
            Enroll as subvendor
        </p>
        </div>

        <!-- <div class="notification-list card">
          <div class="top box-header">
            <h5>Events</h5>
          </div>
          <div class="pd-1r">
            <div class="divider"></div>
          </div>
          <div class="box-body">

            <ul class="list">
              <li *ngFor="let event of calendar?.slice(0,2)" class="d-flex no-seen">
                **<div class="img-mess"><img class="mr-14" src="./images/avatar/avt-1.png" alt="avt"></div>**
                <div class="info">
                  <a href="javascript:void(0);" class="font-w600 mb-0 color-primary">{{ event.name }}&emsp;{{
                    event.start | date:'medium' }}</a>
                  <p class="pb-0 mb-0 line-h14 mt-6">{{ event.des }}</p>
                </div>
              </li>
            </ul>

            <div class="btn-view">
              <a class="font-w600 h5" [routerLink]="['/'+dashUrl+'/calendar']">View All</a>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>
