<div class="row" style="margin-top: 10px; justify-content: center;">
    <div  class=" col-md-6">
        <div class="card p-2">
            <div (click)="showAdd=!showAdd" class=" card-header d-flex align-items-center justify-content-between gap-5">
                <h4 class=" card-title">Edit Position</h4>
                <button class="btn btn-primary btn-fab btn-icon btn-round" (click)="dialogRef.close()">
                  <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon>
                </button>
            </div>
            
            <div class="p-3 d-flex justify-content-between align-items-center">
              <label>Status</label>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-simple" [ngClass]="{ active: position.status == 'HOLD' }" >
                  <input type="radio" value="HOLD" id="gender-male" (click)="changeStatus('HOLD')"
                  required checked />
                  <span class="d-sm-block d-md-block d-lg-block d-xl-block">
                    HOLD
                  </span>
                </label>
                <label class="btn btn-simple"  [ngClass]="{ active: position.status == 'ACTIVE' }" >
                  <input type="radio" value="ACTIVE" id="gender-female" (click)="changeStatus('ACTIVE')"
                  required />
                  <span class="d-sm-block d-md-block d-lg-block d-xl-block">
                    ACTIVE
                  </span>
                </label>
                <label class="btn btn-simple" [ngClass]="{ active: position.status == 'INACTIVE' }">
                  <input type="radio" value="INACTIVE" id="gender-others" (click)="changeStatus('INACTIVE')"
                  required />
                  <span class="d-sm-block d-md-block d-lg-block d-xl-block">
                    INACTIVE
                  </span>
                </label>
              </div>
            </div>


            <div class="p-3 d-flex justify-content-between align-items-center">
              <label>Visibility</label>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-simple" [ngClass]="{ active: !position.isPublic }" >
                  <input type="radio" value="PRIVATE" id="gender-private" (click)="changeVisibility(false)"
                  required checked />
                  <span class="d-sm-block d-md-block d-lg-block d-xl-block">
                    Private
                  </span>
                </label>
                <label class="btn btn-simple"  [ngClass]="{ active: position.isPublic}" >
                  <input type="radio" value="PUBLIC" id="gender-public" (click)="changeVisibility(true)"
                  required />
                  <span class="d-sm-block d-md-block d-lg-block d-xl-block">
                    Public
                  </span>
                </label>
              </div>
            </div>

            <div class=" card-body">
                <form [formGroup]="addMember" (ngSubmit)="addMemberSubmit()" novalidate>
                <div class=" row">
                    <div class=" form-group">

                        <label>Role</label>
                        <select class=" form-control" formControlName="roleId"  [(ngModel)]="amObject.roleId" >

                            <ng-template ngFor let-role [ngForOf]="roles" let-i="index" >
                                <option [value]="role.id" style="color: black">{{ role.name }}</option>
                            </ng-template>

                        </select>

                    </div>
                    <div class=" form-group">
                        <label> Email</label>
                        <input
                            class=" form-control"
                            placeholder="Email"
                            type="email"
                            formControlName="email"
                            [(ngModel)]="amObject.email"
                        />
                    </div>
                </div>
                <button class=" btn btn-fill btn-primary" [disabled]="!addMember.valid">Add</button>
            </form>
            </div>



            <div class=" table-responsive">
              <h4 class=" card-title">Members</h4>
                <table class=" table tablesorter" >
                  <thead class=" text-primary">
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Positions -->
                    <ng-template ngFor let-user [ngForOf]="users" let-i="index" >
                      <tr style = "cursor: pointer;">
                        <td>{{ user.user.first_name }}&ensp;{{ user.user.last_name }}</td>
                        <td><span class="badge bg-success text-center">{{ user.user.email }}</span></td>
                        <td><span class="badge bg-primary text-center">{{ user.role.name }}</span></td>
                        <td (click)="rmMemberSubmit(user.user.id)" > <i class="icon-simple-remove tim-icons"></i> </td>
                      </tr>
                    </ng-template>
                    <!-- end Positions -->
                  </tbody>
                </table>
                <h4 class=" card-title">Invites</h4>
                  <table class=" table tablesorter" >
                    <thead class=" text-primary">
                      <tr>
                        <!-- <th></th> -->
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- invites -->
                      <ng-template ngFor let-invite [ngForOf]="invites" let-i="index" >
                        <tr style = "cursor: pointer;">
                          <td><span class="badge bg-success text-center">{{ invite.email }}</span></td>
                          <td (click)="resendinvite(invite)" > <i class="icon-refresh-01 tim-icons"></i> </td>
                        </tr>
                      </ng-template>
                      <!-- end invites -->
                    </tbody>
                  </table>
              </div>    
        </div>
    </div>
</div>
